
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: rgb(24, 24, 24);
    font-family: 'Segoe UI', sans-serif;
      
}

.main{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(/images/bg\ image.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}


/* Variables */
:root{
    --main-color:rgb(0, 119, 255);
    --secondry-color:rgba(245, 245, 245, 0.781);;
}

/* Nav Start */
.navbar .navbar-brand{
    color:var(--secondry-color);
    font-weight: bold;
    font-size:34px ;
}

.navbar .navbar-brand span{
    color:var(--main-color);
  
}

.navbar-nav li{
    padding: 0 15px;
}

.navbar-nav li a{
  font-size: 16px;
  font-weight: 600;
  color:var(--secondry-color);
  transition: 0.3s ease;
}

.navbar-nav li a:hover{
    color: var(--main-color);
    
}

.navbar-nav li i{
    padding-top: 15px;
    padding-left: 5px;
}

.navbar-nav li i:hover{
    color: var(--main-color);
    cursor: pointer;
}
.navbar-toggler {
 
    border: none;
  
    
}
.navbar-toggler:focus {
    outline: none;
    border: none;
    box-shadow: none    ;
    
}

.navbar .numbers{
    background-color: rgba(255, 0, 0, 0.801);
    border-radius: 50%;
    color: white;
    padding: 1px 4px;
    font-size: 11px;
}



.fa-solid{
    color: var(--secondry-color);
}


.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.637); 
  transition: background-color 0.3s ease-in-out;
}
/* Nav End */

/* Banner Start */
.banner{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

   
}



.banner h1{
    font-size: 4.2rem;
    color:var(--secondry-color) ;
    font-weight: bold;
}
.banner h1 span{
    color: var(--main-color);
}
.banner p{
    color:var(--secondry-color);
    font-weight: 400;
    margin-top: 2px;
}
.banner a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 32px;
    font-size: 13px;
    text-transform: uppercase;
    background-color:var(--main-color);
    border: 1px solid var(--main-color);
    color:var(--secondry-color);
    font-weight: 600;
    border-radius: 30px;
    transition: 0.3s ease;
    margin-top: 1px;
   
  
}
.banner a:hover {
    background-color: transparent;
    border: 1px solid var(--main-color);
}





/* Top Games */
.top-games h1{
    font-weight: bold;
    color:var(--secondry-color);
    text-transform: uppercase;
}


.product-card {
    border-radius: 8px;
    overflow: hidden;
    width: 270px;
    height: 400px;
    text-align: center;
    box-shadow: 18px 4px 18px rgba(0, 0, 0, 0.356);
    border: none;
    border-radius: 20px;
    background:rgba(0, 0, 0, 0.521);
    cursor: pointer;
    z-index: 1;
  }
  .product-card:hover .product-image {
    transform: scale(1.05);
    border-radius: 15px;
    z-index:-1;

  }

  .product-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.5s ease;
    position: relative;
  }
  
  .product-details h2{
    font-size: 18px;
    color:var(--secondry-color);
    font-weight: bold;
  }

  .product-details .stars i{
      color: var(--main-color);
  }
  .product-details  i{
    color: var(--main-color);
}

.content .price{
    color: var(--secondry-color);
    font-weight: 600;
}
.content .price :first-child {
    color: var(--secondry-color);
}

/* Gta 6 section */
.upcoming {
    background-color: rgb(15, 14, 14);
}

.upcoming h1{
    font-weight: bold;
    color:var(--main-color);
    text-transform: uppercase;
    font-weight:500;
    font-style: italic;
    opacity: 60%;
}
.upcoming h2{
    color: rgba(255, 255, 255, 0.822);
    font-size:24px;
    font-weight:100;
    font-style: italic;

}

.upcoming img{
    border-radius: 40%;
    opacity: 90%;
    box-shadow: 24px 34px 2px rgba(71, 69, 71, 0.103);
  
    
}


/* brands */
.brands{
    background-color: rgb(15, 14, 14);
}


.brands .brand-img img:first-child{
   height: 85px;
   width: 135px;
}

.brands .brand-img img:nth-child(2){
    height: 105px;
    width: 150px;
 }
.brands .brand-img img:nth-child(3){
    height:155px;
    width: 250px;
 }
 
 .brands .brand-img img:nth-child(4){
    height: 95px;
    width: 140px;
 }

 .brands .brand-img img:nth-child(5){
    height: 45px;
    width: 220px;
 }

 
 .brands .brand-img img:nth-child(6){
    height: 125px;
    width: 220px;
 }

 .brands .brand-img img:nth-child(7){
    height: 50px;
    width: 210px;
 }
 
 .brands .brand-img img:nth-child(8){
    height: 65px;
    width: 120px;
 }
 
 .brands .brand-img img:nth-child(9){
    height: 55px;
    width: 100px;
 }
 
 .brands .brand-img img:nth-child(10){
    height: 45px;
    width: 150px;
 }

 .brands .brand-img img:nth-child(11){
    height: 45px;
    width: 150px;
 }
 .brands .brand-img img:nth-child(12){
    height: 35px;
    width: 180px;
 }

/* Games Section */
.search-box{
    margin-top: 15%;
}
.search-box form input{
    background-color:rgba(14, 13, 13, 0.801);
    height: 48px;
    border-radius: 30px;
    box-shadow: 10px 4px 16px rgb(27, 27, 27);
    color: var(--secondry-color);
    border: none;
}


.search-box form input:focus{
    background-color:rgba(14, 13, 13, 0.801);
    color:var(--secondry-color);
    box-shadow: 10px 4px 16px rgb(27, 27, 27);
}

.search-box form select{
    background-color:rgba(14, 13, 13, 0.801);
    color: var(--secondry-color);
    border-radius: 22px;
    padding: 2px 10px;
    box-shadow: 10px 4px 16px rgb(27, 27, 27);
    cursor: pointer;
    border: none;
    outline: none;   
}

.search-box form select:focus{
   background-color:rgba(14, 13, 13, 0.801);
   color:var(--secondry-color);
   box-shadow: none;
}

.search-box form select option{
    color:var(--secondry-color);
    background-color:#000;
}


.search-box form button{
    margin-left: 5px;
    font-size: 18px;
    border-radius: 20%;
    transition:0.5s ease;
    border: none;
}

/* footer */

footer{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(/images/bg\ image2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

footer span{
    color: var(--main-color);
    
}

footer hr{
    width: 20%;
    margin: auto;
    border: 2px solid var(--main-color);
    position: relative;
    bottom: 16px;
    
}

/* More section */




.carousel-container{
    padding: 0 250px;
    cursor: pointer;
   
}

.more .carousel-inner{
    border-radius:60px;
    box-shadow: 21px 24px 55px rgb(15, 15, 15);
   
}




.more .carousel-inner img{
    width: 100%;
    height: auto;
   
}

.carousel-caption .link a{
    margin-bottom:12px;
    padding: 4px 5rem;
    border-radius: 20px;
    background-color: transparent;
    transition:1s ease;
    
}
.carousel-caption .link a:hover{
   background-color:red;
   border: none;
}


.more {
    margin-top: 12%;
}

.more-cards .card{
    overflow: hidden;
    cursor: pointer;
    background-color:transparent;
    width: 380px;
    border: none;
    box-shadow: 21px 24px 55px rgb(15, 15, 15);

    

}
.more-cards .card img{
    transition: 0.5s ease;
    border-radius: 15px;
}

.more-cards .card:hover img{
    transform: scale(1.03);
}


.more-cards .card:hover p{
    color: rgb(110, 161, 255);
}


   
.more-cards .card .card-body{
    color: var(--secondry-color);
    background-color:rgb(20, 20, 20);
    box-shadow: 0px 16px 10px rgb(0, 0, 0);
   
}


/* Cart section */
.cart{
    margin-top: 12rem;
}

.cart h2{

        font-weight: bold;
        color:var(--secondry-color);
        text-transform: uppercase;
}

.cart-item h5{
    color: var(--secondry-color);
    font-weight: bold;

  
}

.cart-item i{
   color: rgb(255, 255, 255);
   background-color: transparent;
}

.btn-danger{
   background-color: rgb(187, 0, 0);
   border: none;
   border-radius: 20px;
   padding: 6 12px;
   font-size: 13px;
   margin-top: 20px;
}
.btn-danger:hover{
    background-color: rgb(158, 0, 0);
    
}

.btn-danger:focus{
    background-color: rgb(158, 0, 0);
    box-shadow: none;
    
 }


.cart-item p{
    font-weight: 600;
    color: var(--secondry-color);
    }

.cart-item .row {
    cursor: pointer;
    border: 1px solid transparent;
    /* box-shadow: 5px 10px 10px rgb(7, 6, 6); */
    box-shadow: 0px 12px 10px rgb(0, 0, 0), 0px -5px 10px rgba(3, 6, 6, 0.5);
    border-radius: 20px;
    padding: 8px;
    transition: 0.1s ease;
}
.cart-item .row:hover{
    background-color:rgba(0, 140, 255, 0.616);
 
}

.cart-item .cart-img{
    width:220px;
    height:220px;
}

.cart-item img{
    border-radius: 30px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
  
    
}

.cart-item h5{
    color: var(--secondry-color);
}


.cart-item p{
    color: var(--secondry-color);
}


.cart .checkout h4{
    margin-top: 5%;
    color: var(--secondry-color);
    font-weight: bold;
}

.btn-success{
    background-color:var(--main-color);
    border: none;
    border-radius: 20px;
    padding: 7 15px;
    font-size: 16px;
    margin-bottom: 4%;
    margin-top: 1%;

 }
 .btn-success:hover{
 background-color: rgb(0, 78, 180);  
 }
 .btn-success:focus{
    background-color: rgb(0, 78, 180);  
    box-shadow: none;
 }



/* Favourite Games */
.fav-games{
    margin-top: 16rem;
}

.fav-games h2{
    font-weight: bold;
    color:var(--secondry-color);
    text-transform: uppercase;
    
}

/*Product page  */

.product-page{
    margin-top: 140px;
}


/* .product-card .fa-heart{
    color: red;
    } */

.img-box {
    width: 520px;
    height: 550px;
}


.col-lg-5 {
    min-height: 600px; /* Adjust this value based on your needs */
 }

 
.img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    /* box-shadow:3px 14px 14px rgb(22, 22, 22); */
    cursor: pointer;
}

.product-page h6{
    color:var(--secondry-color);
    font-size: 2rem;
}

.product-page h3{
    color:var(--secondry-color);
    font-weight: bold;
}
.product-page h2{
    color:var(--secondry-color);
    font-weight: bold;
    font-size: 3rem;
}

.product-page input{
    width: 50px;
    border-radius: 10px;
    border:none;
    outline: none;
    padding: 0 3px;
}

.product-page button{
    border-radius: 22px;
    background-color: gold;
    padding: 2px 16px;
    transition: 0.5s ease;
}
.product-page button:hover{
    background-color:rgb(182, 155, 0);
    
}

.product-page  .fa-star{
    color:gold;
}




.product-page span{
    color:var(--secondry-color);
    font-size: 17px;
}

.product-page h4{
    color:var(--secondry-color);
}















        
  
   
    

     /* Media Queries */


    @media only screen and (max-width:1400px){
    .img-box {
        width:100%;
        height:auto;
        max-width: 550px;    
    }

    
.product-page h6{
    font-size:32px;
}

.product-page h2{
    color:var(--secondry-color);
    font-weight: bold;
    font-size: 46px;
}


    .product-page span{
        font-size: 15px;
    }

 
    .product-page button{

       padding: 2px 14px;
   
    }
    

    .product-page .row{
        padding:0 2%;
    }


    .carousel-container{
        padding: 0 120px;
      
       
    }

    .more-cards .card{
        width:100%;
        height: auto;
    }    
    
    
.carousel-caption .link a{
   
    padding: 4px 77px;
}

   






}

    @media only screen and (max-width: 1199px) {

        .img-box {
            width:100%;
            height:auto;
            max-width: 550px;
        }

        .product-card {
            width: 225px;
            height: 345px;
          }
    
          .product-image {
            width: 100%;
            height: 245px;
          }
    
          .brands .brand-img img:nth-child(12){
            display: none;
         }
    
         .search-box{
            margin-top: 18%;
         }

      .carousel-container{
        padding: 0 20%; 
     }
    
        

   

    .product-page h6{
        font-size:30px;
    }

    .product-page h4{
        font-size: 20px;
        bottom: 18px;
        position:relative;
    }
    
    .product-page h2{
      
        font-size: 32px;
    }
    
    
        .product-page span{
            font-size: 12px;
            bottom: 20px;
            position:relative;
        }
    
     
        .product-page button{
    
           padding: 2px 12px;
           font-size: 13px;
       
        }
        
    
        .product-page .row{
            padding:0 2%;

        }
    }

    @media only screen and (max-width: 991px) {

        .img-box {
            width:100%;
            height:auto;
            max-width: 470px;
         
           

        }

        
        .carousel-caption .link a{
   
            padding: 4px 65px;
        }
        
           

        .product-page{
            margin-top: 8%;
        }

     
        .product-page .row{
            padding-left:10%;
            
        }

        .product-page h6{
            margin-top: -9%;
        }

        .cart-item .cart-img{
            width: 170px;
            height: 170px;
        }
 

    }




   


    
     @media only screen and (max-width:765px ) {
        .brands .brand-img img:nth-child(3){
           
             display: none;
         }


         .carousel-container{
            padding: 0 80px;
            margin-top: 20%;
        
           
        }

      


        
        .brands .brand-img img:nth-child(7){
           
             display: none;
         }

         .product-page h6{
            margin-top: -18%;
        }

        .cart-item .col-md-6 h5{
            padding-top: 50px;
            
        }
     
        
       
        

       
       

      
    
      
    
    }

    @media only screen and (max-width: 575px ) {

    nav{
        padding: 40px;
        
    }

    .carousel-container{
        padding: 0 40px;
        margin-top: 20%;
    }


    .carousel-caption .link a{
   
        padding: 4px 47px;
    }
    
       
    .top-games   .error p{
        font-size:1.7rem;
    }

    


    .product-page h6{
        margin-top: -22%;
    }
    
    .banner h1{
    font-size: 4rem;
     }

     .search-box{
        margin-top: 27%;
     }

    .banner{
    padding: 40px;
     }

     .product-card {
        margin-left: 1.5rem;
      }


    .upcoming h2{
        padding: 50px;
        font-size:20px;
    
    }
    
    .upcoming img{
        border-radius: 30%;
        box-shadow: 20px 30px 1px rgba(71, 69, 71, 0.103);
        width:450px;
        margin-left: 2.5rem;
        
    }
   
    }

    @media only screen and (max-width: 550px ) {
        .product-card {
            width: 200px;
            height: 320px;
          }
    
          .product-image {
            width: 100%;
            height: 220px;
          
          }

          .product-page h6{
            margin-top: -24%;
        }

          
        }



    @media only screen and (max-width: 480px ) {
        .product-card {
            width: 145px;
            height: 265px;
          }
          
          .product-page h6{
            margin-top: -42%;
        }
          .product-image {
            width: 100%;
            height: 165px;
          }
          
        .product-details h2{
            font-size: 11px;
        }
        .product-details p{
            font-size: 11px;
        }
      
        .product-details  i{
            font-size: 12px;
        }

        .upcoming h2{
            padding: 30px;
            font-size:14px;
        
        }
        
        .upcoming img{
            box-shadow: 10px 10px 1px rgba(71, 69, 71, 0.103);
            width:260px;
            margin-left: 2.5rem;
            
        }

        .brands .brand-img img:nth-child(5){
           
            display: none;
        }
        .brands .brand-img img:nth-child(11){
           
            display: none;
        }

        .search-box{
            margin-top: 37%;

         }
         .search-box form{
           flex-wrap: wrap;  
         }
        .search-box select,button{
            margin-top: 25px;
        }
     
          
    

      
    
    }

    @media only screen and (max-width: 366px ) {

        .product-card {
            width: 120px;
            height: 240px;
          }

          .product-image {
            height: 140px;
          }


          .product-page h6{
            margin-top: -85%;
        }
              
    .banner h1{
        font-size: 2.6rem;
         }

         .banner p{
            font-size: 15px;
         }
         .banner a{
            font-size: 12px;
         }
    
        .banner{
        padding: 21px;
         }
          
         .search-box{
            margin-top: 60%;
         }
   
         .navbar .navbar-brand{
            padding-top: 17px;
         }
         
         

        
      
    
    }










